<section class="h-screen  w-[26%] md:w-[18%] bg-neutral-50 fixed">
    <div class="flex flex-col gap-5">
        <div class="w-[90%] mx-auto h-[170px] overflow-hidden my-2">
            <img src="https://assignment-sass.vercel.app/assets/logo-BfNap0Pe.png" alt="Logo">
        </div>
        <div routerLink='/home' class="text-center border-1 flex justify-around items-center w-[80%] mx-auto rounded-lg border-orange-200 shadow-lg shadow-orange-500/50 py-1 bg-orange-300 text-white hover:shadow-none hover:scale-[115%]">
            <i class="fa-solid fa-bowl-rice"></i>
            <p>Meals</p>
        </div>
        <div class="text-center border-1 flex justify-around items-center w-[80%] mx-auto rounded-lg border-gray-200 py-1  text-black hover:shadow-none hover:scale-[115%]">
            <i class="fa-solid fa-bowl-rice"></i>
            <p>Igredients</p>
        </div>
        <div class="text-center border-1 flex justify-around items-center w-[80%] mx-auto rounded-lg border-gray-200 py-1  text-black hover:shadow-none hover:scale-[115%]">
            <i class="fa-solid fa-bowl-rice"></i>
            <p>Areas</p>
        </div>


    </div>

</section>